# Working with panda's "Series"                                                            
                                                                                                                  12/01/2021

In [1]:
import pandas as pd

In [2]:
import numpy as np

#### There are many ways of creating numpy series
* Using lists
* Using numpy.array()
* Using dictionaries

In [4]:
alpha=["a","b","c","d","e","f","g"]
asc=[ord(alphabet) for alphabet in alpha]

#### Using lists

In [29]:
pd.Series(alpha)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [27]:
print(type(pd.Series(data=asc,index=alpha)))
print(pd.Series(data=asc,index=alpha))

<class 'pandas.core.series.Series'>
a     97
b     98
c     99
d    100
e    101
f    102
g    103
dtype: int64

#### Using numpy.array() method

In [26]:
arr=np.array(alpha)
arr

array(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='<U1')

In [24]:
print(type(pd.Series(data=asc,index=arr)))
print(pd.Series(data=asc,index=arr))

<class 'pandas.core.series.Series'>
a     97
b     98
c     99
d    100
e    101
f    102
g    103
dtype: int64

#### Using dictionary

In [12]:
d={}
for index,i in enumerate(alpha):
    d[i]=asc[index]
d

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103}

In [22]:
print(type(pd.Series(d)))
print(pd.Series(d))

<class 'pandas.core.series.Series'>
a     97
b     98
c     99
d    100
e    101
f    102
g    103
dtype: int64

#### Accessing the arrays

In [30]:
asc

[97, 98, 99, 100, 101, 102, 103]

In [31]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [35]:
ser=pd.Series(data=asc,index=alpha)

In [36]:
ser["a"]

97

In [40]:
ser.a

97

In [37]:
ser["f"]

102

In [39]:
ser.f

102

#### Performing operations

In [42]:
ser

a     97
b     98
c     99
d    100
e    101
f    102
g    103
dtype: int64

In [44]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [49]:
# Lets create new dictionary then cast it into pandas Series
d1={}
for i in alpha:
    d1[i]=ord(i.upper())
d1

{'a': 65, 'b': 66, 'c': 67, 'd': 68, 'e': 69, 'f': 70, 'g': 71}

In [50]:
# Now convert the d1 to pandas Series
ser1=pd.Series(d1)
print(type(ser1))
print(ser1)

<class 'pandas.core.series.Series'>
a    65
b    66
c    67
d    68
e    69
f    70
g    71
dtype: int64

In [51]:
# Now Lets perform some operations using ser and ser1
ser+ser1 # it add the values of both series based on index

a    162
b    164
c    166
d    168
e    170
f    172
g    174
dtype: int64

In [52]:
ser-ser1

a    32
b    32
c    32
d    32
e    32
f    32
g    32
dtype: int64

In [55]:
d1

{'a': 65, 'b': 66, 'c': 67, 'd': 68, 'e': 69, 'f': 70, 'g': 71}

In [60]:
# now im changing some values in d1
d1={'a': 65, 'z': 66, 'c': 67, 'd': 68, 'l': 69, 'f': 70, 'g': 71}
d1
ser1=pd.Series(d1)
ser1

a    65
z    66
c    67
d    68
l    69
f    70
g    71
dtype: int64

In [61]:
# now im performing operations
ser+ser1 # b in ser but not in ser1 so it prints NaN [Not a Number]

a    162.0
b      NaN
c    166.0
d    168.0
e      NaN
f    172.0
g    174.0
l      NaN
z      NaN
dtype: float64

In [62]:
ser-ser1

a    32.0
b     NaN
c    32.0
d    32.0
e     NaN
f    32.0
g    32.0
l     NaN
z     NaN
dtype: float64